DB_NAME=tên database
DB_USER=tên người dùng/ mặc định là postgres
DB_PASSWORD=mật khẩu
DB_HOST=localhost
DB_PORT=5432 / sửa nếu đổi
JAMENDO_CLIENT_ID=jamendo client id 
SECRET_KEY=secret key django

# Cloudinary Configuration (for avatar upload)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret